@import 'tailwindcss';
@import 'flowbite-react/plugin/tailwindcss';

@source '../.flowbite-react/class-list.json';

@theme {
  --color-background: #fdfdfd;
  --color-primaryColor: #000080;
  --color-textColor: #363636;
  --color-hoverColor: #1591ea;
}

@theme inline {
  --font-Inter: var(--font-inter), sans-serif;
}
